
<div class="sidebar">
    <div class="logo">
      <i class="fa-solid fa-circle"></i>
    </div>
  
    <ul class="menu">
      <li><i class="fa-solid fa-house"></i></li>
      <li><i class="fa-solid fa-layer-group"></i></li>
      <li><i class="fa-solid fa-chart-pie"></i></li>
      <li><i class="fa-solid fa-envelope"></i></li>
      <li><i class="fa-solid fa-gear"></i></li>
    </ul>
  
   
    <div class="user-img">
      <img src="https://i.pravatar.cc/40" alt="User" />
    </div>
  </div>
  