
<div class="dashboard-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-content">
      <app-navbar></app-navbar>
      <div class="dashboard-container">
  
        <div class="top-section">
          <div class="chart-box">
            <app-vendor-chart></app-vendor-chart>
          </div>
          <!-- <div class="vendor-status-box">
            <app-vendor-status></app-vendor-status>
          </div> -->
        </div>
  
        <div class="team-section">
          <app-team-table></app-team-table>
        </div>
      </div>
    </div>
  </div>
  