.dashboard-wrapper {
    display: flex;
    height: 100vh;
  }
  
  app-sidebar {
    flex: 0 0 60px; 
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  app-navbar {
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .dashboard-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    
  }
  
  
  
  .top-section {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .chart-box {
    flex: 2;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .vendor-status-box {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .team-section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  


  